<div class="flex flex-column md:flex-row">
    <p-card header="Fee Schedules" class="w-full">
        <div style="display: flex;">
            <div routerLink="/foreclosure" class="mr-3">
                <p-card [style]="{'width':'12rem','height':'5rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                    <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                        <i class="pi pi-check fs-24"></i>
                    </p-avatar>
                    <span class="ml-2"><b>Foreclosure</b></span>
                </p-card>
            </div>
            <div routerLink="/dil">
                <p-card [style]="{'width':'12rem','height':'5rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                    <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                        <i class="pi pi-check fs-24"></i>
                    </p-avatar>
                        <span class="ml-2"><b>DIL</b></span>
                    </p-card>
                </div>
        </div>
    </p-card>
</div>
<!-- <router-outlet></router-outlet>  -->


<!-- <div class="flex flex-column md:flex-row">
    <p-card header="Fee Schedules" class="p-p-3">
        <div style="display: flex;">
                <p-card [style]="{'width':'12rem','height':'5rem'}" class="p-mr-3">
                    <i class="pi pi-check p-mr-2 "></i>
                    <span>Foreclosure</span>
                </p-card>
                <div style="flex-grow: 1;">
                    <p-card [style]="{'width':'12rem','height':'5rem'}">
                        <i class="pi pi-check p-mr-2"></i>
                        <span>DIL</span>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div> -->