<p-toolbar [style]="{'width':'100%'}" styleClass="bg-blue-500 shadow-2"
        [style]="{'background-image': 'linear-gradient(to right, var(--blue-500), var(--blue-800))' }">
        <ng-template pTemplate="start">
                <img routerLink="/" [style]="{ width: '150px' }"
                        src="https://beta-feeschedule.outamationlabs.com/assets/images/a360inc-logo.png" />
                <p-divider layout="vertical"></p-divider>
                <span _ngcontent-rnb-c36="" class="title"><b> Fee Schedules </b></span>
        </ng-template>

        <ng-template pTemplate="end">
                <button pButton type="button" icon="pi pi-th-large" (click)="toggleFullScreen()"></button>
        </ng-template>
</p-toolbar>