<div style="display: flex;">
        <div (click)="getselectLoan()">
                <p-card
                        [style]="{'width':'12rem','height':'5rem', 'margin-right': '1rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>Conventional-Insured/PMI</span>
                </p-card>
        </div>
        <div (click)="getselectLoan()">
                <p-card
                        [style]="{'width':'12rem','height':'5rem', 'margin-right': '1rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>FHA</span>
                </p-card>
        </div>
        <div (click)="getselectLoan()">
                <p-card
                        [style]="{'width':'12rem','height':'5rem', 'margin-right': '1rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>USDA</span>
                </p-card>
        </div>
        <div (click)="getselectLoan()">
                <p-card
                        [style]="{'width':'12rem','height':'5rem', 'margin-right': '1rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>VA</span>
                </p-card>
        </div>
</div>
<div style="display: flex;" *ngFor="let select of sLoan">
        <div (click)="getselectLoan()">
                <p-card
                        [style]="{'width':'12rem','height':'5rem', 'margin-right': '1rem','display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>{{select}}</span>
                </p-card>
        </div>
</div>
