<!-- Example using PrimeNG components -->
<div class="p-grid justify-content-end">
    <div class="p-col">
        <!-- Replace with PrimeNG steps component -->
        <p-steps [model]="steps"></p-steps>

        <!-- Replace with PrimeNG inputText component -->
        <!-- <input type="text" pInputText placeholder="Search..." /> -->

        <!-- Replace with PrimeNG card component -->
        <div class="p-card" *ngFor="let item of lookupItems">
            <!-- Card content -->
        </div>

        <!-- Replace with PrimeNG button component -->
        <!-- <button pButton type="button" (click)="nextStep()" label="Next" [disabled]="isNextButtonDisabled"></button> -->
    </div>
    <div class="p-col">
        <p-accordion header="Foreclosure Progress">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">State</span>
                </ng-template>
            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">Foreclosure Type</span>
                </ng-template>
            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">Loan Type</span>
                </ng-template>
            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">Investor Type</span>
                </ng-template>
            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">Client</span>
                </ng-template>
            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-badge value="!" />
                    <span class="font-bold ml-2">Milestone</span>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>