<div class="mt-8 text-center">
  <img
    class=""
    routerLink="/"
    [style]="{ width: '120px' }"
    src="https://beta-feeschedule.outamationlabs.com/assets/images/a360inc-logo.png"
  />
</div>

<div
  class="mt-5 flex flex-wrap align-items-center justify-content-center h-full"
>
  <div
    class="surface-overlay border-round w-30rem min-h-full shadow-1 p-5 py-0 m-3"
  >
    <div class="m-5"></div>
    <div class="text-center">
      <h3 class="text-blue-300">Welcome Back!</h3>
      <p>Sign in to continue to Fee Schedule.</p>
    </div>

    <div class="w-full card flex justify-content-center mb-3">
      <div class="flex flex-column gap-2 w-full">
        <label for="email">Email</label>
        <input
          pInputText
          id="email"
          placeholder="Enter email"
          class="p-fluid"
        />
      </div>
    </div>

    <div class="w-full card flex justify-content-center mb-3">
      <div class="flex flex-column gap-2 w-full">
        <label for="password">Password</label>
        <div class="p-input-icon-left w-full">
          <i class="pi pi-lock"></i>
          <p-password
            placeholder="Enter password"
            [toggleMask]="true"
            [feedback]="false"
            class="p-fluid"
          ></p-password>
        </div>
      </div>
    </div>

    <div class="card flex justify-content-left mb-3">
      <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
      <label for="binary" class="ml-2 checkbox-label">Remember me</label>
    </div>

    <div class="card flex justify-content-center mb-4">
      <div class="flex flex-column gap-2">
        <p-button
          label="Sign In"
          class="p-fluid"
          severity="success"
          styleClass="w-26rem"
        ></p-button>
      </div>
    </div>
    <!-- <p> Don't have an account? <a routerLink="/registration" >Register Yourself!</a></p> -->
  </div>
</div>
