<div style="display: flex;">
    <app-side-nav></app-side-nav>
    <div style="flex-grow: 1;">
        <p-toolbar [style]="{'width':'100%'}" styleClass="bg-blue-500 shadow-2"
            [style]="{'background-image': 'linear-gradient(to right, var(--blue-500), var(--blue-800))' }">
            <ng-template pTemplate="start">
                <img routerLink="/" [style]="{ width: '150px' }"
                    src="https://beta-feeschedule.outamationlabs.com/assets/images/a360inc-logo.png" />
                <p-divider layout="vertical"></p-divider>
                <span _ngcontent-rnb-c36="" class="title"><b>DIL Fee Schedule</b></span>
            </ng-template>

            <ng-template pTemplate="end">
                <!-- <button pButton type="button" icon="pi pi-th-large" (click)="toggleFullScreen()"></button> -->
                <button (click)="toggleFullScreen()" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-window-maximize text-2xl"></i>
                </button>

                <!-- <button pButton type="button" icon="pi pi-search-plus" (click)="toggleFullScreen()"></button> -->
        </ng-template>
        </p-toolbar>
        <div class="content mt-3">
            <div class="grid nested-grid">
                <div class="col-8">
                    <div class="grid">
                        <div class="col-4">
                            <div class="text-center p-3 border-round-sm text-blue-600 bg-blue-100 font-bold"> Loan Type
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-search"></i>
                                </span>
                                <input pInputText placeholder="Search"
                                    class="text-center p-3 w-full text-blue-600 border-round-sm surface-300 font-bold">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="flex align-content-evenly flex-wrap w-full">
                                <app-dil-card></app-dil-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">4</div> -->
                    <p-panel>
                        <ng-template pTemplate="header">
                            <span class="font-bold">Foreclosure Progress</span>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button class="p-panel-header-icon p-link mr-2">
                                <span class="pi pi-refresh"></span>
                            </button>
                        </ng-template>
                        <p-toolbar>
                            <div class="p-toolbar-group-start">
                                <i class="pi pi-exclamation-circle"></i>
                                <span class="font-bold ml-2"> Loan Type </span>
                            </div>
                        </p-toolbar>
                        <p-toolbar>
                            <div class="p-toolbar-group-start">
                                <i class="pi pi-exclamation-circle"></i>
                                <span class="font-bold ml-2"> Investor Type </span>
                            </div>
                        </p-toolbar>
                        <p-toolbar>
                            <div class="p-toolbar-group-start">
                                <i class="pi pi-exclamation-circle"></i>
                                <span class="font-bold ml-2"> Client </span>
                            </div>
                        </p-toolbar>
                        <p-toolbar>
                            <div class="p-toolbar-group-start">
                                <i class="pi pi-exclamation-circle"></i>
                                <span class="font-bold ml-2"> Milestone </span>
                            </div>
                        </p-toolbar>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</div>