<router-outlet></router-outlet>
<div style="display: flex">
  <div style="flex-grow: 1">
    <app-header [title]="headerTitle"></app-header>
    <div class="content mt-3">
      <div class="grid nested-grid">
        <div class="col-8">
          <div class="grid">
            <div class="col-3">
              <div
                class="text-center p-3 border-round-sm text-blue-600 bg-blue-100 font-bold"
              >
                Investor Type
              </div>
            </div>
            <div class="col-9">
              <div class="p-inputgroup">
                <span class="p-input-icon-left w-full">
                  <i class="pi pi-search"></i>
                  <input
                    class="w-full py-3 surface-300 text-blue-600 font-bold"
                    pInputText
                    type="text"
                    placeholder="Search Investor"
                    (input)="searchInvestor($event)"
                  />
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="flex align-content-evenly flex-wrap w-full">
                <!-- <app-conv-card [loanID]="selectedLoanID"></app-conv-card> -->
                <div *ngIf="noInvestorFound" class="m-4 font-bold text-2xl">
                  No Investor Type found!
                </div>
                <div
                  class="flex align-items-center justify-content-center w-4rem h-2rem bg-primary font-bold border-round mx-8 my-5"
                  *ngFor="let investor of filteredInvestors"
                  routerLinkActive="active"
                  routerLink="/clients"
                  (click)="selectInvestor(investor.type, investor.id)"
                >
                  <p-card
                    class="select-none cursor-pointer shadow-2 hover:shadow-8 surface-overlay"
                    [style]="{
                      width: '13rem',
                      height: '5rem',
                      display: 'flex',
                      'justify-content': 'left',
                      'align-items': 'center'
                    }"
                  >
                    <p-avatar
                      class="flex-shrink-0 avatar-sm mr-2"
                      shape="circle"
                      size="normal"
                      styleClass="bg-light"
                    >
                      <i class="pi pi-check fs-24"></i>
                    </p-avatar>
                    <span class="ml-2">{{ investor.type }}</span>
                  </p-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <!-- <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">4</div> -->
          <p-panel>
            <ng-template pTemplate="header">
              <span class="font-bold text-xl ml-1">DIL Progress</span>
            </ng-template>
            <ng-template pTemplate="icons">
              <button
                class="p-panel-header-icon p-link mr-2"
                routerLink="/dilloan"
              >
                <span class="pi pi-refresh"></span>
              </button>
            </ng-template>
            <p-toolbar>
              <div class="p-toolbar-group-start select-none cursor-pointer" routerLink="/dilloan">
                <i class="pi pi-check-circle font-bold text-green-600"></i>
                <span class="font-bold ml-2"> Loan Type </span>
                <span
                  class="text-center px-1 border-round-sm text-blue-600 bg-blue-100 font-bold ml-2"
                  >{{ selectedLoan }}</span
                >
                <!-- <span class="font-bold ml-2">{{selectedLoan}}</span> -->
              </div>
            </p-toolbar>
            <p-toolbar>
              <div class="p-toolbar-group-start select-none cursor-pointer">
                <i
                  class="pi pi-exclamation-circle font-bold text-orange-600"
                ></i>
                <span class="font-bold ml-2"> Investor Type </span>
              </div>
            </p-toolbar>
            <p-toolbar>
              <div class="p-toolbar-group-start select-none cursor-pointer">
                <i
                  class="pi pi-exclamation-circle font-bold text-orange-600"
                ></i>
                <span class="font-bold ml-2"> Client </span>
              </div>
            </p-toolbar>
            <p-toolbar>
              <div class="p-toolbar-group-start select-none cursor-pointer">
                <i
                  class="pi pi-exclamation-circle font-bold text-orange-600"
                ></i>
                <span class="font-bold ml-2"> Milestone </span>
              </div>
            </p-toolbar>
          </p-panel>
        </div>
      </div>
    </div>
  </div>
</div>
