/* Default max-height */
.my-element {
        // max-height: 443px;
        max-height: 545px;
      }
      
      /* Smaller max-height for smaller screen heights */
      @media (max-height: 600px) {
        .my-element {
          max-height: 300px;
        }
      }
      
      /* Larger max-height for larger screen heights */
      @media (min-height: 800px) {
        .my-element {
          max-height: 805px;
        }
      }
      .overflow-auto {
        overflow-y: auto;
      }
      