<div class="card flex flex-wrap justify-content-center gap-3">
        <span class="p-input-icon-left">
                <i class="pi pi-search mr-2"></i>
                <input type="text" pInputText [(ngModel)]="value" />
        </span>
</div>



<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 progress-fs-box list-group">
        <div>
                <div class="row">
                        <div class="d-flex align-items-center mb-2 col-12">
                                <h5 class="fs-14 text-primary mb-0 ms-2">
                                        <i class="pi pi-briefcase align-middle me-1 fs-17"></i>
                                        Foreclosure Progress
                                </h5>
                                <i class="bi bi-arrow-clockwise" style="position: fixed; margin-left: 200px;"></i>
                        </div>
                </div>
                <p-card class="card ribbon-box border shadow-none mb-lg-0 right progress-cards"
                        [style]="{'height':'3rem','display': 'flex', 'justify-content': 'margin-left', 'align-items': 'center', 'cursor': 'pointer'}">
                        <div class="p-card-body progress-ribbon-cards">
                                <div>
                                        <i class="bi bi-check-circle-fill"></i>
                                        <p-badge class="fs-12 ms-2 float-sm-left"
                                                [style]="{'color': '#6699ff', 'background-color': 'rgb(24,93,146)'}">{{selectedState}}</p-badge>
                                        <p-badge value="State"></p-badge>
                                </div>
                        </div>
                </p-card>

                <p-card class="card ribbon-box border shadow-none mb-lg-0 right progress-cards"
                        [style]="{'height':'3rem','display': 'flex', 'justify-content': 'margin-left', 'align-items': 'center', 'cursor': 'pointer'}">
                        <div class="p-card-body progress-ribbon-cards">
                                <div>
                                        <i class="bi bi-check-circle-fill"></i>
                                        <p-badge [style]="{'color': '#6699ff', 'background-color': 'rgb(24,93,146)'}">Foreclousre
                                                Type</p-badge>
                                        <p-badge value="Foreclousre Type"></p-badge>
                                </div>
                        </div>
                </p-card>

                <p-card class="card ribbon-box border shadow-none mb-lg-0 right progress-cards"
                        [style]="{'height':'3rem','display': 'flex', 'justify-content': 'margin-left', 'align-items': 'center', 'cursor': 'pointer'}">
                        <div class="p-card-body progress-ribbon-cards">
                                <div>
                                        <i class="bi bi-check-circle-fill"></i>
                                        <p-badge class="fs-12 ms-2 float-sm-left"
                                                [style]="{'color': '#6699ff', 'background-color': 'rgb(24,93,146)'}">Loan
                                                Type</p-badge>
                                        <p-badge class="fs-12 ms-2 float-sm-left badge-title text-bg-warning"
                                                value="Loan Type"></p-badge>
                                </div>
                        </div>
                </p-card>

                <!-- Add more p-card elements for other items -->

        </div>
</div>