<div class="flex flex-row flex-wrap">
        <div class="flex align-items-center justify-content-center w-6rem h-3rem bg-primary font-bold border-round mx-8 my-5"
        *ngFor="let milestone of milestones" routerLinkActive="active" routerLink="/fore-result" (click)="selectedMilestone(milestone.name)">
                        <p-card class="shadow-2 hover:shadow-8 surface-overlay"
                        [style]="{'width':'15rem','height':'6rem', 'display': 'flex', 'justify-content': 'left', 'align-items': 'center'}">
                        <p-avatar class="flex-shrink-0 avatar-sm mr-2" shape="circle" size="normal" styleClass="bg-light">
                                <i class="pi pi-check fs-24"></i>
                        </p-avatar>
                        <span>{{milestone.name}}</span>
                </p-card>
        </div>
</div> 